* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    background-color: #00a2e8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carpool-logo {
    height: 70px;
}

main {
    text-align: center;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.photo-profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    margin: 10px 0;
}

.promo, .adresse {
    margin: 5px 0;
    color: grey;
}

.contact {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}

footer {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.footer-logo {
    height: 100px;
}
