nav{
    background-color: #00B7E0;
    display: flex;
}
nav .connexion{
    height: 70px;
    display: flex;
    position: relative;
    left: 1680px;
    order: 1;
}
nav .trip{
    height: 70px;
    display: flex;
    position: relative;
    left: 1500px;
}

footer {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.footer-logo {
    height: 100px;
}