/* COMMUN */



body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* HEADER */

.header{
    display: flex;
    height: 170px;
    width: 100%;
    background-color: #00B7E0;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 48px;
    width: 162px;
    height: 146px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoCarpoolHeader{
    width: 138px;
    height: 138px;
}

.loginHeader{
    margin-right: 66px;
    width: 110px;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whiteCercle{
    background-color: #fff;
    min-width: 110px;
    min-height: 111px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginHeader p{
    font-weight: bold;
}

#logoLogin{
    width: 93px;
    height: 93px;
}

/* BODY */

.title{
    font-family: 'Plus jakarta', sans-serif;
}

h1{
    font-size: 128px;
}

h2{
   font-size: 64px; 
}

    /* PERSONNALISATION INPUT */

label{
    margin-left: 25px;
}

.form-control{
    margin-left: 25px;
    width: 800px;
}

.title_pwd{
    margin-top: 25px;
}

    /* PERSONNALISATION INPUT IMAGE */

.inputFile {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.form-check{
    margin-top: 25px;
}

#photoLabel {
    cursor: pointer;
    width: 220px;
    height: 195px;
    border-radius: 50%;
    float: right;
    margin-top: -435px;
}

#buttonAnnuler{
    background-color: #9A9A9A;
    border-color: #9A9A9A;
    width: 140px;
    height: 65px;
    border-radius: 50px;
    margin-right: 10px;
}

#buttonAccepter{
    background-color: #00D0FF;
    border-color: #00D0FF;
    width: 183px;
    height: 65px;
    border-radius: 50px;

}

.button{
    margin-top: 10px;
    display: flex;
    justify-content: end;
}
/* FOOTER */
.footer{
    display: flex;
    height: 254px;
    width: 100%;
    background-color: #00B7E0;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
}

.footer .logo{
    width: 238px;
    height: 229px;
}

.footer #logoCarpoolFooter{
    width: 214px;
    height: 206px;
}